@keyframes example2 {
  0% {
    background-color: rgba(95, 188, 222, 0.5);
  }
  40% {
    background-color: rgba(95, 188, 222, 0.5);
  }
  100% {
    background-color: rgba(95, 188, 222, 0);
  }
}
@keyframes example3 {
  0% {
    background-color: rgba(95, 188, 222, 0.5);
  }
  40% {
    background-color: rgba(95, 188, 222, 0.5);
  }
  100% {
    background-color: rgba(95, 188, 222, 0);
  }
}

.anim1 {
  animation-name: "example2";
  animation-duration: 1.5s;
}
.anim2 {
  animation-name: "example3";
  animation-duration: 1.5s;
}

.plotHeight {
  /* height: calc(100vh - 110px); */
  height: 300px;
  max-height: 1000px;
  min-height: 350px;
}

/* .outputLabelWidth {
  width: 250px;
} */
.mw-130 {
  min-width: 130px;
}

.hideLogo {
  display: inline-block;
}
.titleSize {
  font-size: inherit;
}

.maxW {
  max-width: 60%;
  white-space: initial !important;
}

.lock {
  background: url("assets/lock.svg") no-repeat;
  background-size: 16px 16px;
  background-position: right 5px center;
}

@media (width <= 500px) {
  .hideLogo {
    display: none !important;
    font-size: 14px;
  }
  .titleSize {
    font-size: 16px !important;
  }
  /* … */
}

html {
  font-size: 16px;
  background-color: rgba(250, 250, 250, 1);
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}
